<div id="<%= dom_id book %>">
  <div class="w-full h-[300px]">
    <img src="<%= book.image %>" alt="" class="h-full">
  </div>

  <p class="my-5">
    <%= book.title %>
  </p>

  <%= book.author.name %>

  <p class="my-5">
    <%= book.publication_year %>
  </p>
</div>
