<div id="<%= dom_id book %>" class='mb-4'>
  <div class="w-full h-[300px]">
    <img src="<%= book.image %>" alt="" class="h-full">
  </div>

  <h3 class="mt-2 flex justify-between text-base font-medium text-gray-900">
    <%= book.title %>
  </h3>

  <h4 class="text-sm text-gray-500"><%= book.author.name %></h4>

  <div class='flex mt-1 items-center'>
    <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
    class="text-gray-500 w-4 h-4"
  >
      <path
      fill-rule="evenodd"
      d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
      clip-rule="evenodd"
    ></path>
    </svg>
    <span class="text-gray-400 text-sm ml-2">
      <%= book.publication_year %>
    </span>
  </div>

  <p class="mt-4">S/.<%= book.price %></p>

  <div>
    <%= form_with(url: carts_path, method: :post, data: { turbo_frame: "cart" }) do |f| %>
      <%= f.hidden_field :book_id, value: book.id %>
      <%= f.number_field :quantity, value: 1, class: "hidden" %>
      <%= f.submit "Comprar", class: "flex items-center mt-2 text-sm cursor-pointer justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-2 font-medium text-white shadow-sm hover:bg-indigo-700" %>
    <% end %>
  </div>
</div>
