<%= turbo_frame_tag "cart" do %>
  <ul role="list" class="-my-6 divide-y divide-gray-200">
    <% cart.orderables.each do |orderable| %>
      <li class="flex py-6">
        <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
          <img src="<%= orderable.book.image %>" class="h-full w-full object-cover object-center">
        </div>

        <div class="ml-4 flex flex-1 flex-col">
          <div>
            <div class="flex justify-between text-base font-medium text-gray-900">
              <h3>
                <a href="#"><%= orderable.book.title %></a>
              </h3>
              <p class="ml-4">S/.<%= orderable.book.price %></p>
            </div>
          </div>
          <div class="flex flex-1 items-end justify-between text-sm">
            <p class="text-gray-500">Cantidad: <%= orderable.quantity %></p>

            <div class="flex">
              <%= button_to "Eliminar", carts_path(orderable_id: orderable.id), method: :delete, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
